@charset "utf-8";

.zoom {
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.zoom img {
    width: 100%;
    height: 100%;
    transition: scale 1s;
}

.zoom img:hover {
    scale: 1.2;
}

.gallery-container {
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.gallery-item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    translate: -50% -50%;
    scale: 1;
    transition: opacity 1s, scale 4s;
    opacity: 0;
}

.gallery-item.active {
    opacity: 1;
    scale: 1.2;
}